/* INICIO - ESTILOS TAGS */
b {
    color: black;
    font-size: 14px;
}

/* FIM - ESTILOS TAGS */

.title_guia {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

/* INICIO - Classes genéricas */

.page-content {
    height: 1500px;
}

.controlado {
    color: #025302;
    background-color: #06c40691;
    border: 2px solid black;
}



.moderado {
    color: #535202;
    background-color: #c4c10691;
    border: 2px solid black;
}

.critico {
    color: #530202;
    background-color: #c4060691;
    border: 2px solid black;
}

.legenda {
    display: flex;
    justify-content: space-around;
    margin: 8px -7px 4px 7px;
}

.legenda div {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 8px;
    width: 241px;
    height: 32px;
}

.legenda_cores {
    display: flex;
    justify-content: space-around;
    margin: 18px 0;
}

.fundo_cor {
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    height: 377px;
    background-color: #c3bebe;
}

.txt_legenda {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.txt_controlado {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 289px;
}

.box {
    width: 95%;
    height: 87px;
    border: 3px solid black;
    border-radius: 50px;
    margin-top: 33px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.title_grafico {
    display: flex;
    justify-content: space-around;
    margin: 18px 0;
}

.graficos {
    display: flex;
    justify-content: space-around;
    margin: 18px 0;
}

.grafico_fazenda {
    display: flex;
}

.imagem_grafico {
    width: 532px;
    border: 2px solid black;
}

.title_estavel {
    display: flex;
    justify-content: space-around;
    margin: 46px 0px 0px 0px;
}

.txt_signf {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 32px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border: 3px solid black;
    border-radius: 50px;
    width: 95%;
    background-color: #c3bebe;
}

.signf_graficos {
    width: 95%;
    margin: 15px 0px 20px 0px;
}

.title_cadastro {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.fundo_cor2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 45px 0px 0px 0px;
    padding: 30px 0;
    height: 474px;
    background-color: #c3bebe;
}

.imagem_registro {
    width: 700px;
    margin: 28px 0px 0px 0px;
    border: 2px solid black;
}

.box2 {
    width: 95%;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    margin-top: 33px;
    margin-left: 30px;
    margin-right: 30px;
}

.text_box {
    width: 97%;
    
}

.text_box1 {
    width: 97%;
    
}

.pipefy{
    align-items:center ;
    text-align: center;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 22%;
    height: 260px;
    background-color: #c3bebe;
    border-radius: 10px;
}

.pipefy p{
    padding: 0 1px;
    width: 5%;
}

.pipefy a{
    white-space: nowrap;
}

.pipefy img{
    width: 176px;
    height: 178px;
}

.link{
    text-decoration: none;
}

.download{
    background-color: #c3bebe;
    width: 200%;
    height: 200%;
    white-space: nowrap;
border: none;
border-radius: 10px;
}