/*Corpo da área de contato*/
body {
    width: 100%;
    height: 100vh;
    display: flex;
}

/*Fim do corpo*/

/*Dados das forma de contato*/

.box_contato {
    position: relative;
    margin: auto;   
    display: flex;
    height: 75vh;
    width: 35vw;
    background-color: #86aa837c;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    border: 1px solid #707070;
    border-radius: 20px;
    overflow: hidden;
}

h1{
    font-size: 40px;
    margin-bottom: 8%;
}

.in_contato {
    display: flex;
    margin-top: 5%;
    height: 5vh;
    width: 55%;
    margin-bottom: 2%;
    border: 2px solid #707070;
    background-color: transparent;
    color: #3d3d3d;
    align-items: flex-start;
    justify-content: flex-start;

}

.perfil{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

input{
    text-indent: 4%;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    
    color: #707070;
    font-weight: bold;
}

.a_alterar{
    text-align: center;
    margin-top: 4%;
    font-size: 20px;
    border-bottom: 2px solid #4993a0;
    color: #42909e;
    width: 22%;
}

/*Fim da área de contato*/