/* INICIO - Tag genérica */

.txt-center {
    text-align: center;
}

/* FIM - Tag genérica */

/* INICIO - Formulário para cadastrar novo usuário */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    height: 100%;
    align-items: center;
    background-color: #c3bebe;
}

.form-inputs {
    display: flex;
    column-gap: 120px;
    row-gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.form-inputs div {
    position: relative;
    width: 40%;
}

/* Input com label animado */

.form-inputs input {
    height: 30px;
    width: 100%;
    font-size: 17px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #808080;
    transition: 500ms;
}

.form-inputs label {
    font-size: 17px;
    position: absolute;
    left: 0;
    bottom: 6px;
    user-select: none;
    transition: 500ms;
}

.view-pass{
    left: calc(100% - 30px) !important;
    bottom: 0 !important;
    cursor: pointer;
}

.form-inputs input:is(:hover, :focus) {
    border-bottom: 4px solid var(--cor-principal);
}

.form-inputs input:is(:hover, :focus)+label,
.form-inputs input:not(:placeholder-shown)+label {
    bottom: 30px;
}

/* Gerador de email e senha */
.generator {
    display: flex;
    gap: 20px;
    user-select: none;
}

/* Botão para cadastrar */
.btn-register {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: #54dd14;
    transition: 250ms;
}

.btn-register:hover {
    background-color: #53bd23;
}

/* FIM - Formulário para cadastrar novo usuário */


/* INICIO - Visualização dos usuários online */

/* Insert de pesquisa de usuário */

.user-search {
    display: flex;
    margin: 20px 0 0 0;
}

.div_search {
    position: relative;
    width: 80%;
    height: 30px;
}

.div_search input {
    height: 100%;
    width: 100%;
    padding: 0 0 0 33px;
    font-size: 17px;
}

.div_search label {
    position: absolute;
    bottom: 0;
    left: 7px;
}

.div_search label img {
    height: 23px;
    user-select: none;
}

.users-online {
    background-color: #c3bebe;
}

/* Tabelas dos usuários online/cadastrados */

table {
    background-color: #f4ffff;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid #000;
}

tr {
    height: 30px;
}

td, th {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

td img {
    height: 20px;
    cursor: pointer;
}

.delete {
    filter: invert(12%) sepia(80%) saturate(7398%) hue-rotate(3deg) brightness(98%) contrast(114%);
}

.pass {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-right: 0;
    border-left: 0;
}


/* FIM - Visualização dos usuários online */