/* INICIO - Tag genérica */

.txt-center {
    text-align: center;
}

/* FIM - Tag genérica */

/* INICIO - Formulário para cadastrar novo usuário */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.form-section {
    height: 200px;
}

.form-inputs {
    display: flex;
    column-gap: 120px;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.form-inputs div {
    position: relative;
    width: 40%;
}

/* Input com label animado */

.form-inputs label {
    position: absolute;
    left: 0;
    bottom: 0;
    user-select: none;
    transition: 500ms;
}

.form-inputs input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #808080;
    transition: 500ms;
}

.form-inputs input:is(:hover, :focus) {
    border-bottom: 2px solid var(--cor-principal);
}

.form-inputs input:is(:hover, :focus)+label,
.form-inputs input:not(:placeholder-shown)+label {
    bottom: 18px;
}


.btn-register {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: #54dd14;
    transition: 250ms;
}

.btn-register:hover {
    background-color: #53bd23;
}

/* FIM - Formulário para cadastrar novo usuário */


/* INICIO - Visualização dos usuários online */

.users-online {
    background-color: cornflowerblue;
}

table {
    background-color: #f4ffff;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border: 1px solid #000;
}

tr {
    height: 30px;
}

td, th {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

td img {
    height: 20px;
    cursor: pointer;
}

.pass {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-right: 0;
    border-left: 0;
}


/* FIM - Visualização dos usuários online */