.btn_fazendas {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 6%;
   height: 10vh;
   margin-left: 5%;
}

.btn_sel_fazenda {
   margin-top: 10%;
   width: 12%;
   height: 90%;
   color: green;
   border: solid 2px green;
   border-radius: 20px;
   font-weight: bolder;
}

.corpo {
   display: flex;
   flex-direction: column;
   margin-top: 10%;
}

.titulo {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 2%;
   margin-left: 5%;
}

.titulofzd {
   font-weight: bolder;
   font-size: 20px;
   color: green;
}

#canvas_grafico {
   font-weight: bolder;
   background-color: rgba(0, 255, 0, 0.1);
   margin-top: 5%;
   height: 20%;
   margin-left: 5%;
}

#graph {
   background-color: red;
}