* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#espacamento{
    height: 5vh;
}

a {
    text-decoration: none;
}



/* INICIO DO HEADER */
header {
    position: fixed;
    background-color: #1f611f;
    display: flex;
    width: 100%;
    height: 12vh;
    border-bottom: 4px solid #104410;
    margin: auto;
    z-index: 2;
}

.navbar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-size: 20px;
    color: #ffffff;
}

.itens_nav {
    font-size: 20px;
    align-items: center;
    display: flex;
    width: 38%;
    justify-content: space-between;
    list-style: none;
}

.header_item {
    color: #ffffff;
    font-weight: bold;
}

.header_CadLog {
    width: 200px;
    color: white;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}



.a_CadLog {
    color: #ffffff;
}

.header_item:hover{
    color: #86c286;
}

.a_CadLog:hover{
    color: #86c286;
}
.title{
    margin-left: 4%;
}
.title:hover{
    color: #86c286;
    margin-left: 4%;
}





/* FIM DO HEADER*/