/* INICIO DO HEADER */
header {
    position: fixed;
    background-color: #90aa87;
    display: flex;
    width: 100%;
    height: 12vh;
    margin: auto;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 2;
}

.navbar {
    margin-top: 0%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 12px;
    margin-right: 0%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #216921;
}


.itens_nav {
    color: #216921;
    font-size: 16px;
    align-items: center;
    display: flex;
    width: 33%;
    justify-content: space-between; 
    list-style: none;
}

.header_item {
    color: #216921;
}

.header_CadLog {

    width: 200px;
    color: white;
    font-size: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.li_Log {
    color: #216921;
}

.a_CadLog{
    color: #216921;
}
