* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#espacamento{
    height: 5vh;
}

a {
    text-decoration: none;
}



/* INICIO DO HEADER */
header {
    position: fixed;
    background-color: #d1d6ce;
    display: flex;
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid #216921;
    margin: auto;
    z-index: 2;
}

.navbar {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #10ad10;
}

.itens_nav {
    font-size: 20px;
    align-items: center;
    display: flex;
    width: 38%;
    justify-content: space-between;
    list-style: none;
}

.header_item {
    color: #2e8b2e;
    font-weight: bold;
}

.header_CadLog {
    width: 200px;
    color: white;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}



.a_CadLog {
    color: #2e8b2e;
}

.header_item:hover{
    color: #5c665c;
}

.a_CadLog:hover{
    color: #5c665c;
}



/* FIM DO HEADER*/