/*INICIO DO CARROSEL*/

/*index é o corpo do carrossel*/
#index {
    width: 100%;
    height: 80vh;
    padding: 10vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*slider é como se fosse um conteiner do carrossel*/
.slider {
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.carrossel {
    list-style: none;
    width: 400%;
    height: 800px;
    display: flex;
}

.carrossel input {
    display: none;
}

.slide {
    width: 25%;
    transition: 1s;
}

.slide img {
    width: 100%;
}

/*car_texto são os texto que aparecem no carrossel*/

.car_texto1 {
    width: 40%;
    color: #ffffff;
    font-size: 27px;
    position: relative;
    bottom: 80%;
    left: 6%;
    z-index: 1;
}

.grifado {
    color: green;
}

.car_texto2 {
    width:
        50%;
    color: #ffffff;
    font-size: 27px;
    position: relative;
    bottom: 80%;
    left: 6%;
    z-index: 1;
}

.car_texto3 {
    width:
        40%;
    color: #ffffff;
    font-size: 27px;
    position: relative;
    bottom: 80%;
    left: 6%;
    z-index: 1;
}

/*Gradiante que está por cima da imagem do carrossel*/
.slide::before {
    content: '';
    width: 100%;
    height: 80vh;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 10%;
    background: transparent linear-gradient(270deg, rgba(13, 13, 13, 0.10) 0%, rgba(13, 13, 13, 0.10) 50%, rgba(0, 108, 0, 0.10) 100%) 0% 0% no-repeat padding-box;
}

/*Fim do gradiante*/


.btn_SiCar:hover {
    background-color: #216921;
    color: #ffffff;
}

/*Botão de passar as imagens do carrossel*/

.manual-navigation {
    position: absolute;
    width: 10px;
    margin-top: -90px;
    display: flex;
    justify-content: center;
    bottom: 11%;
    left: 49.6%;
}

.manual-btn {
    border: 2px solid #00DA20;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;

}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

/*Quando vc clica no botão, o comando empurra a imagem 25% pro lado, assim passando de slide*/
.manual-btn:hover {
    background-color: #cdffdf;
}

.active {
    background-color: #cdcdcd;
}

#radio1:checked~.first {
    margin-left: -2px;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

/*fim do botão*/

/*Botão onde mostra em qual imagens do carrossel está*/
.navigation-auto div {
    border: 2px solid #856889;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

.navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 85%;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #cdffdf;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #cdffdf;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #cdffdf;
}

/*Fim do botão*/

.img_car1 {
    background-image: url(../img/inicio/header/carrossel_1.png);

}

/* FIM DO CARROSEL */

/*CONTEÚDO DO SOBRE NÓS*/

.sob_content {
    /*DELIMITANDO O TAMANHO DO SOBRE NÓS*/
    height: 88vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    color: green
}

.sob_box {
    /*BOX COM O TEXTO E A IMAGEM DO QUEM SOMOS?*/
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    border: black solid 7px;
    border-radius: 50px;
    background-color: gray;
    align-items: center;
}

.sob_img1 {
    /*POSICIONAMENTO DA IMAGEM, E A IMAGEM*/
    height: 220px;
    width: 220px;
    margin-left: 5%;
    border-radius: 20px;
    background-image: url(../img/inicio/sobrenos/imgmilhofigure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sob_texto {
    /*DIV COM O TEXTO SEPARADO DA IMAGEM*/
    height: 220px;
    width: 60%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: white;
}