/*COMEÇO DO SIMULADOR*/

.simu_content {
    background-image: url(../img/inicio/sobrenos/fundobranco.webp);
    /* gap: 20px; */
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 200h;
    display: flex;
    font-size: 15px;
    text-align: center;
    justify-content: space-around;
}

.simu_titulo {
    margin-top: 10%;
}

.simu_box {
    margin-bottom: 15%;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border:  rgb(172, 180, 155) solid 3px;
    border-radius: 10px;
    background-color: rgb(172, 180, 155);
    color: black;
    font-weight: lighter;
    align-items: center;
}
input{
    margin: 10px;
}


.texto {
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    height: 600px;
    margin-top: 150px;
    display: flex;
    color: black;
}

/*COMEÇO DO POPUP*/

* {
    box-sizing: border-box;
}

.btn {
    display: block;
    margin: 20px auto;
    background: rgb(61, 61, 61);
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: rgb(172, 180, 155);
    color: black;
    font-weight: bold;
    position: relative;

}

.popup a {
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;

}

/*FIM DO POPUP*/


/*FOOTER

.footer {

    /* margin-top: 50%; 
    background-color: rgba(0, 0, 255, 0);
    height: 10px;
    font-family: monospace;
}

.copy {
    padding-left: 8%;
    color: black;
    font-size: bold;
    display: flex;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    z-index: 6;
    height: 37px;
}


.membros {
    text-decoration: none;
    color: rgb(3, 78, 3);

}
*/